html {
    font-family: 'EB Garamond', serif;
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    opacity: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    transition: opacity 1.0s ease;
}

.menu-wrapper {
    display: none;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: display .5s ease, opacity .5s ease;
}

.menu-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: calc(100vw - 40px);
    height: 100vh;
}

.menu-container img {
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
}

.menu-el-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
}

.menu-el-container a {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    transition: color .5s ease;
}

.menu-el-container a:hover {
    color: rgba(255, 255, 255, 1);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1460px;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.menu-btn-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 50px;
}

.menu-btn-container p {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.logo-container h1 {
    user-select: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 50px;
}

.language-container a {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.language-container a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 610px;
}

.logo-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 250px;
    height: 250px;
}
.logo-img-container img {
    width: 100%;
    height: 100%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid white 10px;
    border-image-source: url(/img/border.svg);
    border-image-slice: 20%;
    padding: 10px;
    opacity: 0;
    width: 100%;
    max-width: 500px;
    margin-left: 150px;
    margin-top: 100px;
    text-align: justify;
    transition: opacity 1.5s ease;
}

.about-text-container p {
    user-select: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-text-container p::first-letter {
    font-size: 42px;
}

.last-text {
    text-align: right;
}

.posters-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50%;
    height: 220px;
    margin-bottom: 200px;
    margin-left: 50px;
}

.posters-container img {
    opacity: 0;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    max-width: 150px;
    height: 150px;
    transition: opacity 1.5s ease, transform 1s ease;
}

.posters-container img:nth-of-type(1) {
    cursor: pointer;
    left: 300px;
    top: 5px;
    transform: scale(2.0) rotate(-45deg);
}

.posters-container img:nth-of-type(2) {
    cursor: pointer;
    left: 400px;
    top: 5px;
    transform: scale(2.0) rotate(25deg);
}

.posters-container img:nth-of-type(3) {
    cursor: pointer;
    left: 350px;
    top: 75px;
    transform: scale(2.0);
}


/* Сторінка музики */

.albums-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.name-of-block-left {
    display: flex;
    margin-left: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid white 1px;
    width: 50%;
    height: 50px;
}

.name-of-block-left p {
    height: 100%;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.albums-inner-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 730px;
    height: 100%;
    max-height: 540px;
}

.albums-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 540px;
}

.album-img-container {
    display: flex;
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s ease;
}

.hover p{
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hover:hover {
    opacity: 1;
}

.next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.next-btn-albms {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.15);
    border-radius: 100px;
    width: 150px;
    height: 50px;
    transition: background-color .5s ease;
}

.next-btn-albms:hover {
    background-color: rgba(70, 70, 70, 0.35);
}

.next-btn-sngls {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.15);
    border-radius: 100px;
    width: 150px;
    height: 50px;
    transition: background-color .5s ease;
}

.next-btn-sngls:hover {
    background-color: rgba(70, 70, 70, 0.35);
}

.singles-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    height: 90%;
}

.singles-container .singles-inner-container .next-btn-container .next-btn img {
    transform: rotate(180deg);
}

.singles-inner-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 730px;
    height: 100%;
    max-height: 540px;
}

.singles-wrapper {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 540px;
}

.single-img-container {
    display: flex;
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.name-of-block-right {
    display: flex;
    margin-right: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid white 1px;
    width: 50%;
    height: 50px;
}

.name-of-block-right p {
    height: 100%;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.line {
    background-color: white;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 100%;
    max-width: 1px;
}

.next-btn-albms, .next-btn-sngls span {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}


/* Сторінка медіа */

.clip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 610px;
}

.video-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: solid white 2px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 350px;
    margin-top: 160px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.video-container img {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: opacity .5s ease;
}

.fnsh-video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    width: 450px; 
    height: 250px;
}

.fnsh-video p {
    color: white;
    text-transform: uppercase;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.fnsh-video.open {
    transition: opacity .5s ease;
    opacity: 1;
}

.yt-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(86, 86, 86, 0.15);
    margin-bottom: 25px;
    transition: width .5s ease;
}

.yt-btn p {
    position: absolute;
    color: white;
    width: 100px;
    left: -100px;
    opacity: 0;
    font-family: 'EB Garamond';
    font-style: normal;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    transition: transform .5s ease;
}

.yt-btn img {
    width: 25px;
    height: 25px;
}

.yt-btn.open {
    width: 160px;
}

.yt-btn.open img {
    position: absolute;
    right: 10px;
}

.yt-btn.open p {
    position: absolute;
    transform: translateX(100px);
    transition: opacity 1.5s ease;
    opacity: 1;
}

#main-media {
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 610px;
}

/* Сторінка контакти */

.contact-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 610px;
}

.contact-container form {
    display: flex;
    margin-top: 160px;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    height: 500px;
}

.contact-container input {
    color: white;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid white 2px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
}

.contact-container input::placeholder {
    color: white;
}

.contact-container textarea {
    color: white;
    height: 200px;
    resize: none;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid white 2px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
}

.contact-container textarea::placeholder {
    color: white;
}

.smbt-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
}

.smbt-btn button {
    color: white;
    cursor: pointer;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border: solid white 1px;
    border-radius: 25px;
    transition: background-color .5s ease, color .5s ease, border .5s ease;
}

.smbt-btn button:hover {
    color: rgb(255, 238, 186);
    border: solid rgba(86, 86, 86, 0.15) 1px;
    background-color: rgba(86, 86, 86, 0.15);
}

.youtube-container {
    position: absolute;
    top: 40%;
    right: -20px;
}

.youtube-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(86, 86, 86, 0.15);
    margin-bottom: 25px;
    transition: width .5s ease;
}

.youtube-btn p {
    position: absolute;
    color: white;
    width: 100px;
    left: -100px;
    opacity: 0;
    font-family: 'EB Garamond';
    font-style: normal;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    transition: transform .5s ease;
}

.youtube-btn img {
    position: absolute;
    right: 13px;
    width: 25px;
    height: 25px;
}

.youtube-btn:hover {
    width: 120px;
}

.youtube-btn:hover img {
    position: absolute;
    right: 10px;
}

.youtube-btn:hover p {
    position: absolute;
    transform: translateX(105px);
    transition: opacity 1.5s ease;
    opacity: 1;
}

.instagram-container {
    position: absolute;
    top: 50%;
    right: -20px;
}

.instagram-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(86, 86, 86, 0.15);
    margin-bottom: 25px;
    transition: width .5s ease;
}

.instagram-btn p {
    position: absolute;
    color: white;
    width: 100px;
    left: -100px;
    opacity: 0;
    font-family: 'EB Garamond';
    font-style: normal;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    transition: transform .5s ease;
}

.instagram-btn img {
    position: absolute;
    right: 13px;
    width: 25px;
    height: 25px;
}

.instagram-btn:hover {
    width: 135px;
}

.instagram-btn:hover img {
    position: absolute;
    right: 10px;
}

.instagram-btn:hover p {
    position: absolute;
    transform: translateX(105px);
    transition: opacity 1.5s ease;
    opacity: 1;
}

.telegram-container {
    position: absolute;
    top: 60%;
    right: -20px;
}

.telegram-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(86, 86, 86, 0.15);
    margin-bottom: 25px;
    transition: width .5s ease;
}

.telegram-btn p {
    position: absolute;
    color: white;
    width: 100px;
    left: -100px;
    opacity: 0;
    font-family: 'EB Garamond';
    font-style: normal;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    transition: transform .5s ease;
}

.telegram-btn img {
    position: absolute;
    right: 13px;
    width: 25px;
    height: 25px;
}

.telegram-btn:hover {
    width: 120px;
}

.telegram-btn:hover img {
    position: absolute;
    right: 10px;
}

.telegram-btn:hover p {
    position: absolute;
    transform: translateX(105px);
    transition: opacity 1.5s ease;
    opacity: 1;
}

/* Медіа запити */

/* Для маленьких екранів (мобільні телефони) */
@media (max-width: 576px) {

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .logo-container h1 {
        font-size: 32px;
    }

    .menu-btn-container {
        justify-content: center;
    }

    main {
        flex-direction: column;
        height: 100%;
        max-height: none;
        align-items: center;
    }

    .about-text-container {
        margin-top: 200px;
        margin-left: 0;
    }

    .posters-container {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .posters-container img:nth-of-type(1) {
        left: -10px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 90px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 40px;
        top: 75px;
    }

    #contact-form {
        margin-top: 0;
    }

    .menu-el-container a {
        font-size: 64px;
        margin-top: 35px;
    }

    .contact-container {
        max-width: 350px;
    }

    .youtube-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: 0;
    }

    .instagram-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: 45%;
    }

    .telegram-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: 85%;
    }

    #main-media {
        height: 900px;
        max-height: none;
        max-height: none;
        align-items: center;
    }

  }

  @media (max-width: 375px) {
    .posters-container img:nth-of-type(1) {
        left: -20px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 80px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 30px;
        top: 75px;
    }

  }

  @media (max-width: 360px) {
    .logo-container h1 {
        font-size: 24px;
    }

    .posters-container img:nth-of-type(1) {
        left: -30px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 70px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 20px;
        top: 75px;
    }

    .menu-el-container a {
        font-size: 48px;
        margin-top: 35px;
    }

    .contact-container {
        max-width: 300px;
    }
  }
  
  /* Для екранів середнього розміру (планшети) */
  @media (min-width: 576px) and (max-width: 768px) {

    main {
        flex-direction: column;
        height: 100%;
        max-height: none;
        align-items: center;
    }

    .about-text-container {
        margin-top: 200px;
        margin-left: 0;
    }

    .posters-container {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .posters-container img:nth-of-type(1) {
        left: 5%;
        top: 2.5%;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 45%;
        top: 2.5%;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 20%;
        top: 37.5%;
    }

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .logo-container h1 {
        font-size: 32px;
    }

    .menu-btn-container {
        justify-content: center;
    }

    #contact-form {
        margin-top: 0;
    }

    .menu-el-container a {
        font-size: 64px;
        margin-top: 35px;
    }

    .contact-container {
        max-width: 650px;
        align-items: center;
    }

    .youtube-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: 0;
    }

    .instagram-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: 45%;
    }

    .telegram-container {
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        right: 0.25%;
    }

    #main-media {
        height: 900px;
        max-height: none;
        max-height: none;
        align-items: center;
    }
  }
  
  /* Для екранів великого розміру (наприклад, ноутбуки) */
  @media (min-width: 768px) and (max-width: 992px) {
    .logo-container h1 {
        font-size: 32px;
    }

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    .about-text-container {
        margin-top: 200px;
        margin-left: 0;
    }

    main {
        height: 1200px;
        flex-direction: column;
        align-items: center;
        max-height: none;
    }
    
    .posters-container {
        margin-bottom: 0;
        margin-top: 200px;
        margin-left: 0;
    }

    .posters-container img:nth-of-type(1) {
        left: 150px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 250px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 200px;
        top: 75px;
    }
    
  }

  @media (min-width: 992px) and (max-width: 1400px) {

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    main {
        height: 800px;
        max-height: none;
    }

    .posters-container img:nth-of-type(1) {
        left: 150px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(2) {
        left: 250px;
        top: 5px;
    }
    
    .posters-container img:nth-of-type(3) {
        left: 200px;
        top: 75px;
    }
  }
  
  /* Для екранів ще більшого розміру (наприклад, монітори) */
  @media (min-width: 992px) and (max-width: 1200px) {
    /* CSS код */
  }
  
  /* Для екранів найбільшого розміру (наприклад, великі монітори або телевізори) */
  @media (min-width: 1200px) {
    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }
  }