html {
    font-family: 'EB Garamond', serif;
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    opacity: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    transition: opacity 1.0s ease;
}

.menu-wrapper {
    display: none;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: display .5s ease, opacity .5s ease;
}

.menu-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: calc(100vw - 40px);
    height: 100vh;
}

.menu-container img {
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
}

.menu-el-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
}

.menu-el-container a {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    transition: color .5s ease;
}

.menu-el-container a:hover {
    color: rgba(255, 255, 255, 1);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1460px;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.menu-btn-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 50px;
}

.menu-btn-container p {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.logo-container h1 {
    user-select: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 50px;
}

.language-container a {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.language-container a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 610px;
}

.logo-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 250px;
    height: 250px;
}
.logo-img-container img {
    width: 100%;
    height: 100%;
}

/* Сторінка музики */

.albums-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.name-of-block-left {
    display: flex;
    margin-left: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid white 1px;
    width: 50%;
    height: 50px;
}

.name-of-block-left p {
    height: 100%;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.albums-inner-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 730px;
    height: 100%;
    max-height: 540px;
}

.albums-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 540px;
}

.album-img-container {
    display: flex;
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s ease;
}

.hover p{
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hover:hover {
    opacity: 1;
}

.next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.next-btn-albms {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.15);
    border-radius: 100px;
    width: 150px;
    height: 50px;
    transition: background-color .5s ease;
}

.next-btn-albms:hover {
    background-color: rgba(70, 70, 70, 0.35);
}

.next-btn-sngls {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.15);
    border-radius: 100px;
    width: 150px;
    height: 50px;
    transition: background-color .5s ease;
}

.next-btn-sngls:hover {
    background-color: rgba(70, 70, 70, 0.35);
}

.singles-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    height: 90%;
}

.singles-container .singles-inner-container .next-btn-container .next-btn img {
    transform: rotate(180deg);
}

.singles-inner-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 730px;
    height: 100%;
    max-height: 540px;
}

.singles-wrapper {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 540px;
}

.single-img-container {
    display: flex;
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.name-of-block-right {
    display: flex;
    margin-right: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid white 1px;
    width: 50%;
    height: 50px;
}

.name-of-block-right p {
    height: 100%;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.line {
    background-color: white;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 100%;
    max-width: 1px;
}

.next-btn-albms, .next-btn-sngls span {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}

/* Медіа запити */

/* Для маленьких екранів (мобільні телефони) */
@media (max-width: 576px) {

    main {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        max-height: none;
        overflow: none;
    }

    body {
        overflow-y: scroll;
    }

    .albums-container {
        align-items: center;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-left {
        display: flex;
        margin-left: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .albums-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .albums-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }

    .line {
        display: none;
    }

    .singles-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-right {
        display: flex;
        margin-right: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .singles-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .singles-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }

    .album-img-container {
        max-width: 150px;
        height: 150px;
    }

    .album-img-container .hover {
        max-width: 150px;
        height: 150px;
    }

    .album-img-container img {
        max-width: 150px;
        height: 150px;
    }

    .single-img-container {
        max-width: 150px;
        height: 150px;
    }

    .single-img-container .hover {
        max-width: 150px;
        height: 150px;
    }

    .single-img-container img {
        max-width: 150px;
        height: 150px;
    }


    .hover {
        opacity: 1;
    }

    .hover p {
        font-size: 14px;
    }

    .hover:hover {
        opacity: 1;
    }

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .logo-container h1 {
        font-size: 32px;
    }

    .menu-btn-container {
        justify-content: center;
    }

    .menu-el-container a {
        font-size: 64px;
        margin-top: 35px;
    }
  }

  @media (max-width: 375px) {

  }

  @media (max-width: 360px) {
    .logo-container h1 {
        font-size: 24px;
    }

    .menu-el-container a {
        font-size: 48px;
        margin-top: 35px;
    }
  }
  
  /* Для екранів середнього розміру (планшети) */
  @media (min-width: 576px) and (max-width: 768px) {
    main {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        max-height: none;
        overflow: none;
    }

    body {
        overflow-y: scroll;
    }

    .albums-container {
        align-items: center;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-left {
        display: flex;
        margin-left: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .albums-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .albums-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }

    .line {
        display: none;
    }

    .singles-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-right {
        display: flex;
        margin-right: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .singles-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .singles-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }

    .hover {
        opacity: 1;
    }

    .hover:hover {
        opacity: 1;
    }

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .logo-container h1 {
        font-size: 32px;
    }

    .menu-btn-container {
        justify-content: center;
    }

    .menu-el-container a {
        font-size: 64px;
        margin-top: 35px;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1360px) {
      .albums-container {
       transform: scale(0.85);   
      }
      .singles-container {
       transform: scale(0.85);   
      }
  }
  
  /* Для екранів великого розміру (наприклад, ноутбуки) */
  @media (min-width: 768px) and (max-width: 1280px) {
    main {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        max-height: none;
        overflow: none;
    }

    body {
        overflow-y: scroll;
    }

    .albums-container {
        align-items: center;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-left {
        display: flex;
        margin-left: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .albums-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .albums-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }

    .line {
        display: none;
    }

    .singles-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .name-of-block-right {
        display: flex;
        margin-right: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-bottom: solid white 1px;
        width: 100%;
        height: 50px;
    }

    .singles-inner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 730px;
        height: 100%;
        max-height: none;
    }

    .singles-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .logo-container h1 {
        font-size: 32px;
    }

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {

    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }
  }
  
  /* Для екранів ще більшого розміру (наприклад, монітори) */
  @media (min-width: 992px) and (max-width: 1200px) {
    
  }
  
  /* Для екранів найбільшого розміру (наприклад, великі монітори або телевізори) */
  @media (min-width: 1200px) {
    .wrapper {
        height: 100%;
    }

    .main-container {
        height: 100%;
        width: 100vw;
        max-width: none;
    }
  }

  